[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bayescopulareg"]
	path = bayescopulareg
	url = https://github.com/ethan-alt/bayescopulareg
[submodule "bmabasket"]
	path = bmabasket
	url = https://github.com/ethan-alt/bmabasket
[submodule "hdbayes"]
	path = hdbayes
	url = https://github.com/ethan-alt/hdbayes
[submodule "surbayes"]
	path = surbayes
	url = https://github.com/ethan-alt/surbayes
